/* CSS file comments are enclose in asterisk backslash symbols */
/* style.css */
/**/
h2 {
    background-color: violet;
    color: blue;
  }
/* format all p tags*/
/* NB if there are any internal formats in the HTML file, they will rule */
img {
  margin: 5px;
  align: center;
  padding: 5px;
  width: 170px;
}
p {
  background-color: grey;
  color: white;
  font-size: 18px;
  }
/* format using background */
/* format all h3 tags */
h3 {
  font-size: 70px;
  /* background: linear-gradient(skyblue, lightgreen) */
  background: linear-gradient(to bottom, skyblue, lightgreen)
}
