/* CSS file comments are enclose in asterisk backslash symbols */
/* style.css */
/**/
/* Add a black background color to the top navigation */
/**/
/*-- auto auto for max number of columns, it flexes down in smaller window size. */
/**/
/**/
.flex-container {
  display: flex;
  background-color: DodgerBlue;
}
.flex-container {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  flex-wrap: wrap;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  background-color: blueviolet;
  padding: 20px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 10px;
}
table {
  font-size: 20px;
  background-color: Indigo;
  color: yellow;
}
th{
  background-color: navy;
  color: white;
  width: 200px;
  height: 30px;
}
a {
  color: cyan;
  font-size: 18px;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color:lightgreen;
  color: black;
}
h2 {
    background-color: Grey;
    color: white;
    font-size: 22px;
    padding: 2px;
  }
/* format all p tags*/
/* NB if there are any internal formats in the HTML file, they will rule */
img {
  margin: 5px;
  align: center;
  padding: 5px;
  width: 170px;
}
p {
  background-color: grey;
  color: white;
  font-size: 18px;
  }
/* format using background */
/* format all h3 tags */
h1 {
  font-size: 40px;
  text-align: center;
  /* background: linear-gradient(skyblue, lightgreen) */
  background: linear-gradient(to bottom, skyblue, lightgreen)
}
body.homepage {
  margin: 0;
  padding: 0;
  background-image: url("FrontPage.jpg");
  background-size: cover;        /* fills the whole screen */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;  /* no tiling */
  background-attachment: fixed;  /* stays still when scrolling */
}
